### Xcode Patch ###
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
.DS_Store

## User settingsPods
/Pods/Pods.xcodeproj/xcuserdata/
./Pods/Pods.xcodeproj/xcuserdata/



## Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout


*.swp
*.swo
*.xcconfig
